*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #111;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.navbar {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 60px; /* Small width for just icons */
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    color: white;
    text-decoration: none;
    
}

.nav-item i{
    background-color: #FFC107;
    padding: 10px;
    border-radius: 50%;
}

.icon {
    font-size: 24px;
    transition: color 0.3s ease;
    
}

.icon-text {
    position: absolute;
    right: 70px;
    opacity: 0;
    white-space: nowrap;
    color: white;
    background-color: #FFC107;
    padding: 5px 10px;
    border-radius: 5px;
    transition: opacity 0.3s ease, right 0.3s ease;
    pointer-events: none;
}

.nav-item:hover .icon-text {
    opacity: 1;
    right: 100%;
}

.nav-item:hover .icon {
    color: #ffcc00;
}